.main {

    .container {
        transition: $transition;

        .home {
            
            .container {

                .home__container {
                    padding: .5rem 1rem;
                    height: 85vh;
                    box-shadow: $shadow4;
                    border-radius: .5rem;
                    background: $dark-color;
                    border: 1px solid $white-color;
                }
            }
        }

        .about {
            
            .container {

                .about__container {
                    padding: .5rem 1rem;
                    height: 80vh;
                    box-shadow: $shadow4;
                    border-radius: .5rem;
                    border: 1px solid $white-color;
                }
            }
        }

        .technology {
            
            .container {

                .technology__container {
                    padding: .5rem 1rem;
                    height: 88vh;
                    box-shadow: $shadow4;
                    border-radius: .5rem;
                    border: 1px solid $white-color;
                }
            }
        }

        .portfolio {
            
            .container {

                .portfolio__container {
                    padding: .5rem 1rem;
                    height: 80vh;
                    box-shadow: $shadow4;
                    border-radius: .5rem;
                    border: 1px solid $white-color;
                }
            }
        }

        .contact {
            
            .container {

                .contact__container {
                    padding: .5rem 1rem;
                    height: 80vh;
                }
            }
        }

        .footer {
            
            .container {

                .footer__container {
                    padding: 2rem 0 .5rem 0;
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .main {

        .container {
    
            .home {
                margin-block-start: 4rem;

                .container {

                    .home__container {
                        height: 78vh;
                    }
                }
            }

            .about {

                .container {

                    .about__container {
                        height: auto;
                        background: $white-color;
                    }
                }
            }

            .technology {

                .container {

                    .technology__container {
                        height: 100vh;
                        background: $white-color;
                    }
                }
            }

            .portfolio {

                .container {

                    .portfolio__container {
                        height: 100vh;
                        background: $white-color;
                    }
                }
            }

            .contact {

                .container {

                    .contact__container {
                        height: 100vh;
                    }
                }
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .main {

        .container {

            .technology {

                .container {

                    .technology__container {
                        height: 78vh;
                    }
                }
            }

            .contact {

                .container {

                    .contact__container {
                        box-shadow: $shadow4;
                        border-radius: .5rem;
                        border: 1px solid $white-color;
                        background: $white-color;
                        height: 78vh;
                    }
                }
            }
        }
    }

}
