@import './partials/config';
@import './partials/general';
@import './partials/header';
@import './partials/main';
@import './partials/home';
@import './partials/about';
@import './partials/technology';
@import './partials/portfolio';
@import './partials/contact';
@import './partials/footer';
@import './partials/resume';
